#Developed By Ishan Shivansh Bangroo
##For supporting Beginners

In [ ]:
def func(a, b , *x  ,**y):
    print(a)
    print(b)
    print(x)
    print(y)

func(10,23 , 2,"hi",3,5 , shakes ="banana" , bird = "sparrow" ,student = "learning")

10
23
(2, 'hi', 3, 5)
{'shakes': 'banana', 'bird': 'sparrow', 'student': 'learning'}

In [ ]:
s = "1+10/2+abs(-3)"

In [ ]:
eval(s)

9.0

In [ ]:
1+10/2+abs(-3)

9.0

In [ ]:
abs?

In [ ]:
l = ["mango" , "apple" , "banana"]
for i in enumerate(l):
    print(i)

(0, 'mango')
(1, 'apple')
(2, 'banana')

In [ ]:
for i in l:
    print(i)

mango
apple
banana

In [ ]:
def func():
    """Hello"""
    pass
func?

In [ ]:
class person:
    pass
P = person()

In [ ]:

print(type(P))

<class '__main__.person'>

In [ ]:
class Person:
    nationality = "Indians"
    def __init__(self , name , clg ):
        self.name = name
        self.clg = clg
#     def __init__():
#         pass
    def sayHi(self , name):
        """this function says hi"""
        print(self.name)
        print(name)
        self.__myprivatename("soham")
    def __myprivatename(self , name):
        print("i am private func")

p = Person("SHIVANSH" , "IIT")

In [ ]:
p.sayHi("SHIVANSH")
p.clg

SHIVANSH
SHIVANSH
i am private func

'IIT'

In [ ]:
class Student(Person):
    def __init__(self , name , clg):
        print(self.nationality)
        self.name = name
        self.clg  =clg

s = Student("SHIVANSH" , "mait")
s.sayHi("SHIVANSH")

Indians
SHIVANSH
SHIVANSH
i am private func

Use recursion to solve the problems.

*italicised text*# **Numpy**
- One of the most powerful numerical processing library

**Numpy Provides** <br>
- Extension package for multi-dimensional array
- Efficient and convenient scientific computing

In [ ]:
# Example: Creating a simple array in numpy
import numpy as np
a = np.array([1, 2, 3, 4])

print(a)
print(np.arange(10))

#### How is it efficient and useful?

In [ ]:
L = range(1000)
%timeit [i**2 for i in L]

a = np.arange(1000)
%timeit a**2

## I. Creating arrays

In [ ]:
a = np.array([1, 3, 4]) # 1-D array (VECTOR)
len(a)

In [ ]:
b = np.array([[1, 2, 3], [3, 5, 6]]) # 2-D Array (MATRIX)

print(b)
b.shape

In [ ]:
c = np.array([[[0, 1], [1, 2]], [[2, 3], [5, 6]]]) # 3-D array (n-dimensional array: TENSOR)

#### Functions for creating arrays

In [ ]:
# using arange function
a = np.arange(1, 10, 3) # start - end - step
a

In [ ]:
# using linspace function
b = np.linspace(0, 1, 5) #start - end - number of points
b

In [ ]:
# common arrays functions
c = np.zeros((3, 3)) # all zeros
print('c\n', c)

d = np.ones((2, 2)) # all ones
print('d\n', d)

p = np.eye(2, 3) # Ones on the diagonals and zeroes elsewhere
print('p\n', p)

In [ ]:
#Using diag() function
a = np.diag([1, 2, 3, 5, 0])
print(a)

In [ ]:
# creating a random array
a = np.random.rand(3, 2)
print(a)

## II. DataTypes

In [ ]:
a = np.arange(5)
print('a is', a)
print(a.dtype)

b = np.arange(5, dtype='float64') #explicitly specifing the data type
print('b is', b)
print(b.dtype)

In [ ]:
# Complex data types
d = np.array([1+2j, 3+2j])
print(d.dtype)

# Boolean data types
c = np.array([True, False, True])
print(c.dtype)

## III. Slicing and Indexing

In [ ]:
# Indexing
a = np.diag([1, 2, 3, 4])
print(a)
print(a[2, 2])
a[2, 2] = 5
print(a)

In [ ]:
# Slicing
a = np.arange(10)
print(a)
a[1:5:2] # [startindex: endindex(not included): step]

# Q. Natural Sum
Write a function that takes an arguemnt n and computes the sum $1 + 2 + 3 + \ldots +n$ recursively.

In [ ]:
def natural_sum(n):
  ### Write your code here
  if(n==1):
    return 1
  else:
    natural_sum_n=n+natural_sum(n-1)
    return(natural_sum_n)

In [ ]:
"""Test Cases"""
assert natural_sum(1) == 1
assert natural_sum(10) == 55
print(f"Test cases passed! {chr(0x1F44D)}")

Test cases passed! üëç

#Q. Recursively Min
Write a recursive function that finds and returns the minimum element in an array.

In [ ]:
def findmin(arr):
  ### Write your code here
  if(len(arr)==1):
    return arr[0]
  else:
    min_rest_of_array =findmin(arr[1:])
    if(arr[0]<min_rest_of_array):
      return arr[0]
    else:
      return min_rest_of_array

In [ ]:
"""Test Cases"""
assert findmin([2, 3, 2, 4, 7, 8, 9]) == 2
assert findmin([1]) == 1
print(f"Test cases passed! {chr(0x1F44D)}")

Test cases passed! üëç

# Q.Recursive Palindrome
Write a recursive function that takes a string and returns whether the string is a palindrome or not. (Function should return a bool ```True``` or ```False```)

In [ ]:
def isPalindrome(s):
    ### Write your code here
    s=(''.join(s.split(' '))).lower()
    if(len(s)<=2):
      if(s[0]==s[-1]):
        return True
      else:
        return False
    if(s[0]==s[-1] and isPalindrome(s[1:-1])):
      return True
    else:
      return False

In [ ]:
"""Test Cases"""
assert isPalindrome("abbaa") == False
assert isPalindrome("Was it A Rat I saw") == True

#Q. Change Pi
Write a function that takes a string and replaces all occurences of pi with 3.14. This should be done using recursion instead of loops (iteration).

In [ ]:
def changePi(s):
  ### Write your code here
  if (len(s )<= 1):
    return s
  else:
   if (s[:2]=="pi"):
    return "3.14" +changePi(s[2:])
   else:
    return s[0]+changePi(s[1:])

In [ ]:
"""Test Cases"""
assert changePi("pixyzpi") == "3.14xyz3.14"
assert changePi("pixypiabpi") == "3.14xy3.14ab3.14"